<div data-test-email-select ...attributes>
  {{#if @label}}
    <label>
      {{@label}}
    </label>
  {{/if}}
  <PowerSelectMultipleWithCreate
    @triggerClass={{this.triggerClass}}
    @selected={{@selectedEmails}}
    @onChange={{@onChange}}
    @onCreate={{@onCreate}}
    @showCreateWhen={{this.showCreateWhen}}
    @renderInPlace={{true}}
    @selectedItemComponent={{if @selectedItemComponent @selectedItemComponent (component "ember-email-addresses@email-item")}}

    @allowClear={{@allowClear}}
    @placeholder={{@placeholder}}
    @class={{@class}}
    @disabled={{@disabled}}
    @initiallyOpened={{@initiallyOpened}}
    @placeholderComponent={{@placeholderComponent}}
    @registerAPI={{@registerAPI}}
    as |option|
  >
    {{#if (has-block)}}
      {{yeild option}}
    {{else}}
      {{option.email}}
    {{/if}}
  </PowerSelectMultipleWithCreate>
</div>