<div data-test-email-select ...attributes>
  {{#if @label}}
    <label>
      {{@label}}
    </label>
  {{/if}}
  <PowerSelectMultipleWithCreate
    @triggerClass={{this.triggerClass}}
    @selected={{@selectedEmails}}
    @onChange={{@onChange}}
    @onCreate={{@onCreate}}
    @showCreateWhen={{this.showCreateWhen}}
    @renderInPlace={{true}}
    as |option|
  >
    {{#if (has-block)}}
      {{yeild option}}
    {{else}}
      {{option.email}}
    {{/if}}
  </PowerSelectMultipleWithCreate>
</div>