{{page-title 'Index'}}

<DocsHero />

<div style='max-width: 40rem; margin: 0 auto; padding: 0 1.5rem'>
  <DocsDemo as |demo|>
    <demo.example name='my-demo.hbs'>
      <EmberEmailAddresses@EmailAddresses
        @onChangeSelected={{this.onChangeSelected}}
        @selectedEmails={{this.selectedEmails}}
        @onCreate={{this.onCreate}}
      />
    </demo.example>
  </DocsDemo>
</div>

{{outlet}}